<div class="control-group form-row {% if field.errors %}error{% endif %} field-name">
    <div class="control-label">
        {{ field.label_tag }}
    </div>
    <div class="controls">
        {{ field }}
        {% if field.errors %}
        <span class="help-inline">
            <ul class="errorlist">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </span>
        {% endif %}
      {% if field.help_text %}<span class="help-inline">{{ field.help_text }}</span>{% endif %}
    </div>
</div>
